  body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #setGrid {
    margin: 20px;
    padding: 20px;
  }

  .container {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

  .hovered{
      background-color: black;
  }