  body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  #setGrid {
    margin: 20px;
    padding: 10px;
  }

  .container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid rgb(233, 233, 233);
    text-align: center;
  }